.form {
  padding-top: 103px;
  padding-left: 39px;
}

<<<<<<< HEAD
@media screen and (max-width: 530px) {
=======
@media screen and (max-width: 510px) {
>>>>>>> 37b7b9078a89c45cdcadc5412d0135ef1c9c5fbb
  .form {
    padding-top: 42px;
    padding-left: 0;
  }
}