.profile {
  display: flex;
  max-width: 880px;
  height: 120px;
  margin: 40px auto 50px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    display: block;
    height: 284px;
    margin: 42px 0 36px;
  }
}