.card__heart-icon {
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.card__heart-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}